h1 {
    color: white;
    background-color: Black;
    padding: 0.5em;
}
h2 {
    color: white;
    background-color: FireBrick;
    padding: 0.5em;
}
h3 {
    color: white;
    background-color: SlateBlue;
    padding: 0.5em;
}
h4 {
    color: white;
    background-color: Indigo;
    padding: 0.5em;
}
h5 {
    color: white;
    background-color: DarkOliveGreen;
    padding: 0.5em;
}
